
<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <title>Splash</title>
    </head>

    <body>
        
        <div style="background-color: black; flex-wrap: wrap; display: flex; flex-direction: column; align-content: center;">

            <h1 style="color: white;">
                Ctrl+R to refresh <br>
                Ctrl+D to open dev tools <br>
                Ctrl+Q to quit <br>
                Visit official <a href="https://splash.tomavilius.in/themes" target="_blank"> page</a> (https://splash.tomavilius.in/themes) or the github repo for themes <br>
                If on linux, then hold down Ctrl+E to enter edit mode and if needed add this application to the list of startup applications (command: splash). <br>
            </h1>
        </div>
    </body>
</html>


