
<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <title>Splash</title>
        <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" /> -->
    </head>

    <body>
        
        <div style="background-color: black; flex-wrap: wrap; display: flex; flex-direction: column; align-content: center;">

            <h1 style="color: white;">
                Ctrl+R to refresh <br>
                Ctrl+D to open dev tools <br>
                Ctrl+Q to quit <br>
                Check github repo page for themes <br>
            </h1>
        </div>
    </body>
</html>


