
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./pexels-lisa-fotios.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.background {

    background-color: black;
    opacity: 30%;
    height: 100vh;
}