@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

br {
    padding-bottom: 15px;
}

.code {
    background-color: #464861;
    margin-top: 10px;
    width: 50vw;
    padding: 5px;
    /* color: white; */
}

.color-black {

    color: black;
    border-color: black;
}

.container-doc {

    display: flex;
}

.container-doc .content {

    width: 100%;
    background-color: #6B728E;
    padding-right: 3%;
}

.container-doc .content h1 {

    padding-left: 13%;
}

.container-doc .content div {

    padding-left: 15%;

    text-align: left;
}

.container-doc .content div h3 {

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.container-doc .content div h2 {

    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    padding: 20px 0 10px;
}

.container-doc .content div ul, .container-doc .content div p {

    font-family: 'Inter', sans-serif;
    list-style-type: none;
    font-size: 1.1rem;
}

.container-doc .content div ul li {

    padding-bottom: 5px;
}

.container-doc .content div ul li .code {

    padding-left: 0;
}

.content {

    padding: 12% 10% 1% 10%;
    background-color: #50577A;
    transition: all ease 0.4s;
    text-align: center;
}

.content h2 {

    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    padding: 20px 0 10px;
    text-align: left;
}

.content h2 a {
    
    /* text-decoration: none; */
    color: black;
}

.community-p {

    text-align: left;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.content-i {

    background-color: #6B728E;
    text-align: center;
    padding: 4% 7%;
}

.content-i img {

    width: 100vh;
}

.content div {

    transition: all ease 0.4s;
}

.content div button {

    transition: all ease 0.4s;
}

.content h1 {

    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;

    transition: all ease 0.4s;
}

.content p {

    font-family: 'Inter', sans-serif;
    padding-bottom: 2%;

    transition: all ease 0.4s;
}

.content hr {

    margin-bottom: 7%;

    transition: all ease 0.4s;

    margin-left: 7%;
    margin-right: 7%;
}

.container {

    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered a {

    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.download-btn {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 7px 14px;
    border-radius: 1.5rem;
    background-color: #474E68;
    color: white;
    border: 0 white solid;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    user-select: none;
    cursor: pointer;
    transition: all ease 0.4s; 
    margin-bottom: 1%;

    transition: all ease 0.4s;
}

.download-btn:hover {

    /* color: #50577A; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(40, 50, 79) 0px 0px 0px 1px;
}

.font-2rem {

    font-size: 2rem;
}

footer {

    text-align: center;
    background-color: #344D67;
    padding: 2% 7%;
}

footer a {

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.header {

    background-color: #404258;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    position: fixed;
    width: 80%;
}

.header a {

    text-decoration: none;
}

.header a h1 {

    font-family: 'Cardo', serif;
    letter-spacing: 0.1cm;
    font-weight: 500;
    font-size: 2.3rem;
    color:white;
    cursor: pointer;

    transition: all ease 0.4s;
}

.header h1:hover {

    letter-spacing: 0;
}

.header button {

    background-color: #474E68;
    border-radius: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 8px 14px;
    border: 0 white solid;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    user-select: none;
    cursor: pointer;
    transition: all ease 0.4s; 
    color: white;
}

.header button:hover {

    background-color: #50577A;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(40, 50, 79) 0px 0px 0px 1px;
}

.hidden {

    display: none;
    transition: all ease 0.4s;
}

.h1-hover {

    font-size: 2.5rem;
    transition: all ease 0.4s;
}

.hr-hover {

    border: 0.1rem solid white;
    border-radius: 1.5rem;

    background-color: white;
    color: white;

    box-shadow:  0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe ,0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe; 
}

.inline {

    display: inline;
}

.nav-item {

    display: inline-block;
    font-family: "Montserrat", sans-serif;
    transition: all ease 0.4s;

    margin: 0 20px;
}

.nav-item a {

    text-decoration: none;
    color: white;
}

.nav-item:hover {

    border: 0.2rem solid white;
    border-radius: 1.5rem;
    padding: 0.5rem;

    box-shadow:  0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe ,0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe; 
}

.note {

    background-color: #404258;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    border-radius: 15px;
    padding: 5px;
    font-size: 0.8rem;
}

.p-hover {

    font-size: 1.5rem;
    transition: all ease 0.4s;
}

.secondary-navbar {

    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.secondary-navbar a, .secondary-navbar button {

    color: white;
    font-family: 'Montserrat', sans-serif;
}

.secondary-navbar a {

    text-decoration: none;
    font-size: 1.1rem;
}

.secondary-navbar a:hover {
 
    opacity: 85%;
}

.secondary-navbar button {

    /* background-color: #474E68; */
    background-color: #50577A;
    border-radius: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 8px 14px;
    border: 0 white solid;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    user-select: none;
    cursor: pointer;
    transition: all ease 0.4s; 
    color: white;
}

.secondary-navbar button:hover {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(40, 50, 79) 0px 0px 0px 1px;
}

.showcase {

    width: 40vw;
    margin: 6%;
    transition: all ease 0.4s;
}

.showcase-blur {
    
    filter: blur(2px);
}

table, th, td{

    padding: 5px;
}

th, td {

    padding-right: 50px;
}

td {

    font-family: 'Inter', sans-serif;
}

th {

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.vertical-nav {

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    padding-top: 8%;
    height: 100vh;
    width: 20%;
    background-color: #474E68;
    align-items: center;
}

.vnav-item {

    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    transition: all ease 0.4s;
    font-size: 1.2rem;

    margin-bottom: 30px;
}

.vnav-item a {

    text-decoration: none;
    color: white;
    
}

.vnav-item:hover {

    border-bottom: 0.1rem solid white;
    padding: 0.5rem;

    box-shadow: 0 8px 6px -6px #bc13fe;
    cursor: pointer;
}

.vnav-item-click {

    border-bottom: 0.1rem solid white;
    padding: 0.5rem;

    box-shadow: 0 8px 6px -6px #bc13fe;
}

.vertical-nav p {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
